useDynLib(CELINA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(Create_Celina_Object)
export(preprocess_input)
export(get_cell_type_gene_list)
export(Calculate_Kernel)
export(Testing_interaction_all)
export(Testing_interaction)
export(Testing_interaction_multi_kernels)
